PGBATTLE.sln
.vs/PGBATTLE/v17/.suo
.vs/PGBATTLE/v17/Browse.VC.db
.vs/PGBATTLE/v17/ipch/AutoPCH/647d704d35ab6de5/MAIN.ipch
PGBATTLE/PGBATTLE.vcxproj
PGBATTLE/PGBATTLE.vcxproj.filters
PGBATTLE/PGBATTLE.vcxproj.user
PGBATTLE/x64/Debug/main.obj
PGBATTLE/x64/Debug/PGBATTLE.exe.recipe
PGBATTLE/x64/Debug/PGBATTLE.ilk
PGBATTLE/x64/Debug/PGBATTLE.log
PGBATTLE/x64/Debug/vc143.idb
PGBATTLE/x64/Debug/vc143.pdb
PGBATTLE/x64/Debug/PGBATTLE.tlog/CL.command.1.tlog
PGBATTLE/x64/Debug/PGBATTLE.tlog/CL.read.1.tlog
PGBATTLE/x64/Debug/PGBATTLE.tlog/CL.write.1.tlog
PGBATTLE/x64/Debug/PGBATTLE.tlog/link.command.1.tlog
PGBATTLE/x64/Debug/PGBATTLE.tlog/link.read.1.tlog
PGBATTLE/x64/Debug/PGBATTLE.tlog/link.write.1.tlog
PGBATTLE/x64/Debug/PGBATTLE.tlog/PGBATTLE.lastbuildstate
x64/Debug/PGBATTLE.exe
x64/Debug/PGBATTLE.pdb
.vs/PGBATTLE/v17/Browse.VC.db-shm
.vs/PGBATTLE/v17/Browse.VC.db-wal
.vs/PGBATTLE/v17/Browse.VC.opendb
.vs/PGBATTLE/FileContentIndex/read.lock
*.vsidx
